@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --theme: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --theme: #fff;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--theme);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-bg{
  height: calc(100vh - 100px);
}

.hero-title-point{
  background-image: linear-gradient(to right, #11d7ff, #38ff8b);
}